<footer>
  <article id="signature">
    <p class="center">&copy; Shawn Tyler Schwartz, 2020.<br />All Rights Reserved.</p>
  </article>
  <article class="social-icons">
      <a href="https://github.com/ShawnTylerSchwartz" class="invisible" target="_blank" alt="Github" title="Github"><div class="social github"></div></a>
      <a href="https://twitter.com/shawnschwartz_" class="invisible" target="_blank" alt="Twitter" title="Twitter"><div class="social twitter"></div></a>
      <a href="mailto:&#115;&#104;&#097;&#119;&#110;&#115;&#099;&#104;&#119;&#097;&#114;&#116;&#122;&#064;&#117;&#099;&#108;&#097;&#046;&#101;&#100;&#117;" class="invisible" target="_blank" alt="Email" title="Email"><div class="social email"></div></a>
      <a href="https://www.linkedin.com/in/ShawnTylerSchwartz/" class="invisible" target="_blank" alt="LinkedIn" title="LinkedIn"><div class="social linkedin"></div></a>
      <a href="https://shawntylerschwartz.com/assets/vita/Shawn-T-Schwartz-CV.pdf" class="invisible" target="_blank" alt="Curriculum Vitae" title="Curriculum Vitae"><div class="social cv"></div>
      <a href="https://orcid.org/0000-0001-6444-8451" class="invisible" target="_blank" alt="ORCID" title="ORCID"><div class="social orcid"></div></a>
      <a href="https://scholar.google.com/citations?user=5HlFRxwAAAAJ" class="invisible" target="_blank" alt="Google Scholar" title="Google Scholar"><div class="social scholar"></div></a>
  </article>
</footer>