<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81858219-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-81858219-1');
    </script>
    <!-- Structured Schema -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@graph":[
                {
                    "@type": "Person",
                    "name": "Shawn Schwartz",
                    "email": "mailto:shawnschwartz@ucla.edu",
                    "url": "https://shawntylerschwartz.com/",
                    "sameAs": [
                        "https://www.linkedin.com/in/shawntylerschwartz",
                        "https://twitter.com/shawnschwartz_"
                    ],
                    "image": {
                        "@type": "ImageObject",
                        "contentUrl": "https://shawntylerschwartz.com/assets/images/shawn-t-schwartz-profile.png",
                        "encodingFormat": "png",
                        "width": {
                            "@type": "QuantitativeValue",
                            "value": "512"
                        },
                        "height": {
                            "@type": "QuantitativeValue",
                            "value": "512"
                        },
                        "name": "Shawn Schwartz",
                        "author": "Shawn Schwartz",
                        "contentLocation": "Los Angeles, California"
                    },
                    "address": {
                        "@type": "PostalAddress",
                        "addressLocality": "Los Angeles, California"
                    },
                    "worksFor": {
                        "@type": "EducationalOrganization",
                        "name": "University of California, Los Angeles (UCLA) Ecology and Evolutionary Biology",
                        "url": "https://eeb.ucla.edu"
                    },
                    "jobTitle": "Graduate Student",
                    "studentOf": {
                        "@type": "EducationalOrganization",
                        "name": "University of California, Los Angeles (UCLA) Ecology and Evolutionary Biology",
                        "degree": "Biology, M.S.",
                        "degreeSpecialization": "Computational Evolutionary Biology"
                    }

                }
            ]
        }
    </script>