---
const today = new Date();

import { Icon } from "astro-icon/components";
---

<footer class="text-base font-light text-neutral-500 dark:text-neutral-400">
	<p class="text-sm">&copy; {today.getFullYear()} All rights reserved</p>
	<p class="text-sm">Built by Shawn Schwartz in Palo Alto, CA</p>
	<p class="text-xs">Powered by <a href="https://astro.build/" target="_blank">Astro 🚀</a></p>
	
	<div class="social-links">
		<a href="https://twitter.com/shawnschwartz_" target="_blank">
			<span class="sr-only">Follow Shawn on Twitter/X</span>
			<Icon name="twitter" class="w-8 h-8 dark:text-white"/>
		</a>
		<a href="https://github.com/ShawnTylerSchwartz" target="_blank">
			<span class="sr-only">Go to Shawn's GitHub Page</span>
			<Icon name="github" class="w-8 h-8 dark:text-white"/>
		</a>
		<a href="https://scholar.google.com/citations?user=5HlFRxwAAAAJ&hl=en&oi=ao" target="_blank">
			<span class="sr-only">Check out Shawn's Publications on Google Scholar</span>
			<Icon name="scholar" class="w-8 h-8 dark:text-white"/>
		</a>
		<!-- <a href="https://orcid.org/0000-0001-6444-8451" target="_blank">
			<span class="sr-only">Go to Shawn's ORCiD Page</span>
			<Icon name="orcid" class="w-8 h-8 dark:text-white"/>
		</a> -->
		<a href="https://www.linkedin.com/in/shawntylerschwartz/" target="_blank">
			<span class="sr-only">Connect with Shawn on LinkedIn</span>
			<Icon name="linkedin" class="w-8 h-8 dark:text-white"/>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--black));
	}
	.social-links a:hover {
		color: var(--accent-light);
	}
</style>
