---
const today = new Date();

import { Icon } from "astro-icon/components";
---

<footer class="text-base font-light text-neutral-500 dark:text-neutral-400">
	<p class="text-sm">&copy; {today.getFullYear()} All rights reserved</p>
	<p class="text-sm">Made with ♡ by Shawn in Palo Alto</p>
	<p class="text-xs">Powered by <a href="https://astro.build/" target="_blank">Astro 🚀</a></p>
	
	<div class="social-links">
		<a href="https://google.com" target="_blank">
			<span class="sr-only">Follow Shawn on Twitter/X</span>
			<Icon name="twitter" class="w-8 h-8"/>
		</a>
		<a href="https://google.com" target="_blank">
			<span class="sr-only">Go to Shawn's GitHub Page</span>
			<Icon name="github" class="w-8 h-8"/>
		</a>
		<a href="https://google.com" target="_blank">
			<span class="sr-only">Check out Shawn's Publications on Google Scholar</span>
			<Icon name="scholar" class="w-8 h-8"/>
		</a>
		<a href="https://google.com" target="_blank">
			<span class="sr-only">Go to Shawn's ORCiD Page</span>
			<Icon name="orcid" class="w-8 h-8"/>
		</a>
		<a href="https://google.com" target="_blank">
			<span class="sr-only">Connect with Shawn on LinkedIn</span>
			<Icon name="linkedin" class="w-8 h-8"/>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
