---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="flex flex-col items-center h-full mt-3 text-center text-xl">
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
			<HeaderLink href="/Shawn-T-Schwartz-CV.pdf" target="_blank">CV</HeaderLink>
		</div>
	</nav>
</header>
<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5em 0.5em;
		text-decoration: none;
		background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
		background-size: 0px 3px;
		transition: 0.5s;
	}
	nav a.active {
		text-decoration: none;
		background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
		background-size: 100% 3px;
		
	}
	nav a:hover {
		background-size: 100% 3px;
	}
</style>
